
.balloon {
    width: 60px;
    height: 100px;
    border-radius: 1px;
    position: absolute;
    background-image: url('../img/balloon.jpg');
    background-size: cover;
    background-position: center;
    bottom: 5%;
    opacity: 100%;
    transition: opacity 2s ;
}
.balloon:hover{
    cursor: crosshair;
}
.poppedBalloon{
    opacity: 0%;
}

